@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

/* fonts  */

@font-face {
  font-family: "millik";
  src: url("./assets/fonts/Millik/Millik.otf");
}

/* sastoshi  */
@font-face {
  font-family: "satoshi";
  src: url("./assets/fonts/Satoshi/Satoshi-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "satoshi";
  src: url("./assets/fonts/Satoshi/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "satoshi";
  src: url("./assets/fonts/Satoshi/Satoshi-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

/* sf-pro-display */
@font-face {
  font-family: "sf-pro-display";
  src: url("./assets/fonts/SF-pro-display/SF-Pro-Display-Thin.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("./assets/fonts/SF-pro-display/SF-Pro-Display-Ultralight.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("./assets/fonts/SF-pro-display/SF-Pro-Display-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("./assets/fonts/SF-pro-display/SF-Pro-Display-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("./assets/fonts/SF-pro-display/SF-Pro-Display-Light.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("./assets/fonts/SF-pro-display/SF-Pro-Display-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "sf-pro-display";
  src: url("./assets/fonts/SF-pro-display/SF-Pro-Display-Semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "sf-pro-display";
  src: url("./assets/fonts/SF-pro-display/SF-Pro-Display-Heavy.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "sf-pro-display";
  src: url("./assets/fonts/SF-pro-display/SF-Pro-Display-Black.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
}

/*  */

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.blue-colored-text {
  background: linear-gradient(89.92deg, #570de6 -2.87%, #01b7ab 95.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* fallback for future-proofing */
  color: transparent; /* just in case */
}
.green-colored-text {
  background: linear-gradient(89.92deg, #01b7ab -18.98%, #e1eaa8 95.53%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* fallback for future-proofing */
  color: transparent; /* just in case */
}
.footer{
  background: url("./assets/svg/footer-img.svg") no-repeat;
  background-size: cover;
}



/* imprints  */
::selection {
  background-color: black !important;
  color: #ffffff !important;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  height: 55px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*  */

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  --primary-color: #018cb7;
  font-family: satoshi;
}
body {
  margin: 0;
}
.top-margin {
  margin-top: 120px;
}
.border {
  border: 1px solid #ebebeb !important;
}
/* navbar  */

.nav-items p {
  font-size: 15px;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 400;
}

.nav-item:hover {
  color: var(--primary-color);
}

/*  */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: rgb(255, 195, 116);
  }
  button {
    background-color: #f9f9f9;
  }
}

